@model IEnumerable<AssignmentCSharp4_EFCodeFirst.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <h2 class="align-content-lg-center text-center">My Phone</h2>
    <hr />
    <div class="row align-content-center">
        @foreach (var item in Model)
        {
            <p>
                <div class="col-lg-3 text-center border border-dark p-1 m-1">
                    <span>
                        <h4 class="">@Html.DisplayFor(modelItem => item.NameProduct)</h4>
                        <img src="@Html.DisplayFor(modelItem => item.Image)" width="180px" height="180px" />
                        <span>
                            <h6>Giá: @Html.DisplayFor(modelItem => item.Price)<span>VNĐ</span></h6>
                            <h6>Mô tả: @Html.DisplayFor(modelItem => item.Desciption)</h6>
                        </span>
                        <a asp-route="addcart"
                           asp-route-productid="@item.id"
                           class="btn btn-success align-items-center btn-sm">Đặt hàng</a>
                    </span>

                    <br />
                </div>
            </p>
        }
    </div>
   
</div>
